.profile{
	display:flex;
	flex-direction: column;
align-items: center;
}

.profile__input{
	width: 200px;
	height: 20px;
	border-radius: 30px;
	margin: 5px 0;
	padding-left: 10px;
}

 

.profile__update{
	width: 200px;
}